@model IEnumerable<SoftwareStore.Models.Product>

@{
    ViewData["Title"] = "My Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <input type="hidden" name="productId" value="@item.Id" />
                    <input type="number" name="Qty" class="qinput" value="@item.Qty" min="0" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.VendorName)
                </td>
                <td>
                    <form method="post" asp-controller="Users" asp-action="DeleteItem" asp-route-id="@item.Id">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        <input type="submit" value="Delete" class="btn btn-danger"/>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(function () {
            $(".qinput").change(function () {
                $.ajax({
                    type: "post",
                    url: "/Users/ChangeCartAjax",
                    data: { productId: $(this).prev('input').val(), Qty: $(this).val() },
                    success: function (data) {
                        location.reload();
                    }
                });
            });
        });
    </script>
}