@model Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-6 d-flex">
        <div class="card flex-grow-1">
            <div class="card-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <ol class="carousel-indicators">
                        @{
                            for (var i = 0; i < ViewBag.Images.Count; i++)
                            {
                                <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                            }
                        }
                    </ol>
                    <div class="carousel-inner">
                        @{
                            for (var i = 0; i < ViewBag.Images.Count; i++)
                            {
                                byte[] img = ViewBag.Images[i].Picture;
                                var b64 = Convert.ToBase64String(img);
                                b64 = "data:image/png;base64," + b64;
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <img class="d-block w-75 h-auto mx-auto" src="@b64" alt="Product Image @i">
                                </div>
                            }
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" style="filter: invert(100%) hue-rotate(360deg)" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" style="filter: invert(100%) hue-rotate(360deg)" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 d-flex">
        <div class="card flex-grow-1">
            <div class="card-body d-flex flex-column">
                <div>
                    <h2 class="card-title">
                        @Html.DisplayFor(model => model.Title)
                    </h2>
                    <hr />
                    <h4 class="card-subtitle mb-2 text-muted">
                        @Html.DisplayNameFor(model => model.Description)
                    </h4>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Description)
                    </p>
                    <h4 class="card-subtitle mb-2 text-muted">
                        @Html.DisplayNameFor(model => model.Rate)
                    </h4>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Rate)
                    </p>
                    <h4 class="card-subtitle mb-2 text-muted">
                        @Html.DisplayNameFor(model => model.Price)
                    </h4>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Price)
                    </p>
                    <h4 class="card-subtitle mb-2 text-muted">
                        @Html.DisplayNameFor(model => model.Vendor.VendorName)
                    </h4>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Vendor.VendorName)
                    </p>
                </div>
                <div class="mt-auto">
                    <form method="post" asp-controller="Users" asp-action="AddToCart" asp-route-id="@Model.Id" class="d-flex justify-content-end">
                        <input type="submit" class="btn btn-warning mr-2" value="Add To Cart" />
                        <a asp-action="Index" class="btn btn-primary">Back To Shopping</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>