@model SoftwareStore.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div>
            <h4>Product</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Rate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Rate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.State)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.State)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Vendor)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Vendor.Id)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000" style="width:70%;">
            <ol class="carousel-indicators">
                @{
                    for (int i = 0; i < ViewBag.Images.Count; i++)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@(i.ToString())" @(i == 1 ? "class='active'" : "")></li>
                    }
                }
            </ol>
            <div class="carousel-inner">
                @{
                    for (int i = 1; i <= ViewBag.Images.Count; i++)
                    {
                        <div class="carousel-@(i == 1 ? "item active" : "item")">
                            @{
                                byte[] img = ViewBag.Images[i - 1].Picture;
                                string b64 = Convert.ToBase64String(img);
                                b64 = "data:image/png;base64," + b64;
                            }
                            <img class="d-block w-100" src="@b64" alt="title">
                            <div class="carousel-caption d-none d-md-block">
                                Picture @i
                            </div>
                        </div>
                    }
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
</div>