@model IEnumerable<SoftwareStore.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apps</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-group d-flex justify-content-around flex-wrap align-content-center">
    @foreach (var item in Model)
    {
        <div class="card" style="margin: 20px; min-width: 20%; max-width: 20%;">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Rate: @Html.DisplayFor(modelItem => item.Rate)</li>
                    <li class="list-group-item">Price: @Html.DisplayFor(modelItem => item.Price)</li>
                    <li class="list-group-item">Vendor: @Html.DisplayFor(modelItem => item.Vendor.VendorName)</li>
                </ul>
                <div class="card-body">
                    <a class="card-link" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="card-link" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="card-link" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>